@page "/articleview/{id:int}"
@using RedakcniSystem.Data
@inject ArticleService ArticleService

<br/>
<img src="@Article.ImageUrl" class="img-fluid" alt="Responsive image">
<br/>
<br/>
<h3>@Article.Title</h3>
 <p style="margin-bottom: 0">Autor: @Article.Author</p>
<p><small class="text-muted">@Article.Created.Date.ToString("MMMM dd, yyyy")</small></p>
<div class="row" style="margin-left: 0">
    @foreach (var tag in Article.Tags)
    {
        <span style="margin-right: 5px; padding: 8px" class="badge badge-secondary">@tag.Content</span>
    }
</div>
<br>

<p>@Article.Content</p>
@if (!string.IsNullOrWhiteSpace(Article.AlbumName))
{
    <AlbumDetail Name=@Article.AlbumName></AlbumDetail>
}
@code{
    [Parameter]
    public int Id { get; set; }

    public Article Article;
    protected override void OnInitialized()
    {
        Article = ArticleService.GetArticle(Id);
    }

}